
<div class="wrapper">
    <div class="container">
        <div class="section">
            <div class="header">
                <h1>Welcome to Service Booking system</h1>
                <p>Choose your user type to get started:</p>
            </div>
            <div class="buttons">
                <button routerLink="/register_company">
                    Register as a Company
                </button>
                

                <button routerLink="/register_client">
                    Register as a Client
                </button>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>