/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.wrapper {
   /* Path to your background image */
  background-size: cover; /* Ensure the image covers the whole container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image repetition */
  height: 100vh; /* Ensure the wrapper takes up the full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Parent Container */
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
 width: 500px;
  padding: 10px;
}

/* Child Container */
.child {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  max-width: 500px;
  width: 100%;
}

/* Image Section */
.imgDiv h2 {
  text-align: center;
  margin: 20px 0;
}

/* Profile Badge */
.profile-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.choose-image-button {
  background-color: #3186e0;
  color: white;
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.choose-image-button:hover {
  background-color: #0056b3;
}

/* Form Items */
.form-item {
  margin-bottom: 20px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

input, 
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 5px;
}

input:focus, 
textarea:focus {
  border-color: #007bff;
  outline: none;
}

/* Submit Button */
button[type="submit"] {
  background-color: #2831a7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #3f14e8;
}
